name: update-flake-lock
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  lockfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@v2
